@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #0C46C4;
}

@keyframes toast-progress {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-toast-progress {
  animation: toast-progress 5s linear forwards;
}
